* {
    padding: 0;
    margin: 0;
}

.auth-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 100px;
}
.auth-form h1, .menu-manager h1 {
    text-align: center;
}
.menu-manager {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}
.menu-manager div {
    margin-top: 50px;
}
.list-clients, .list-orders {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}
.previous {
    margin-top: 30px;
}
.addnewbtn {
    margin-bottom: 10px;
}
.add-form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.body {
    background-color: rgb(210, 217, 248);
}